.correct_answer {
  border: 3px solid var(--clr-correct-answer);
}

.wrong_answer {
  border: 3px solid var(--clr-wrong-answer);
}

.container_game {
  border: 3px solid red;
  display: grid;
  grid-template-rows: 10vh 90vh;
  height: 100vh;
  width: 100vw;
}

.container_questions {
  background-color: mediumaquamarine;
  height: 90vh;
}
